*                   @emgdev/reviewers
*.cake              @emgdev/devops
Dockerfile          @emgdev/devops
package.json        @emgdev/devops
package-lock.json   @emgdev/devops
azure-pipelines.yml @emgdev/devops
.github/            @emgdev/admins
